wsdl/Auth/Auth.wsdl

<definitions 
  xmlns:tns="http://localhost:8081/wsdl/Auth" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:ns="http://localhost:8081/wsdl/Auth/types" 
  name="Validator" 
  targetNamespace="http://localhost:8081/wsdl/Auth"
>
  <types>
    <xsd:schema xmlns="http://localhost:8081/wsdl/Auth/types" targetNamespace="http://localhost:8081/wsdl/Auth/types">
  
      <xsd:complexType name="login">
        <xsd:sequence>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="heslo" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="login" type="ns:login"/>

      <xsd:complexType name="loginResponse">
        <xsd:sequence>
          <xsd:element name="success" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="loginResponse" type="ns:loginResponse"/>

    </xsd:schema>
  </types>

  <message name="loginRequest">
    <part name="parameters" element="ns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="ns:loginResponse"/>
  </message>

  <portType name="AuthPortType">
    <operation name="login">
      <input message="tns:loginRequest"/>
      <output message="tns:loginResponse"/>
    </operation>
  </portType>

  <binding name="AuthBinding" type="tns:AuthPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="login">
      <soap:operation soapAction="http://localhost:8081/wsdl/Auth/#login"/>
      <input>
        <soap:body use="literal" namespace="http://localhost:8081/wsdl/Auth"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://localhost:8081/wsdl/Auth"/>
      </output>
    </operation>
  </binding>

  <service name="AuthService">
    <port name="AuthPort" binding="tns:AuthBinding">
      <soap:address location="http://localhost:8081/wsdl/Auth"/>
    </port>
  </service>
</definitions>
